In [1]:
import numpy as np
import pandas as pd


s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.809644  1.962887 -0.832298  0.248293
2013-01-02 -0.136263  0.845848  0.057155  0.324814
2013-01-03  1.132218  1.352411  0.413460 -0.292734
2013-01-04 -0.171387 -0.134072 -1.365725 -0.972367
2013-01-05 -0.144256  0.559585 -0.993581  0.636569
2013-01-06 -1.014040  0.425820  2.028708  2.509834

In [4]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...: 
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [5]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df.head(2)

                   A         B         C         D
2013-01-01  0.809644  1.962887 -0.832298  0.248293
2013-01-02 -0.136263  0.845848  0.057155  0.324814

In [7]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.171387 -0.134072 -1.365725 -0.972367
2013-01-05 -0.144256  0.559585 -0.993581  0.636569
2013-01-06 -1.014040  0.425820  2.028708  2.509834

In [9]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df['A']

2013-01-01    0.809644
2013-01-02   -0.136263
2013-01-03    1.132218
2013-01-04   -0.171387
2013-01-05   -0.144256
2013-01-06   -1.014040
Freq: D, Name: A, dtype: float64

In [11]:
df[0:3]

                   A         B         C         D
2013-01-01  0.809644  1.962887 -0.832298  0.248293
2013-01-02 -0.136263  0.845848  0.057155  0.324814
2013-01-03  1.132218  1.352411  0.413460 -0.292734

In [12]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  0.809644  1.962887
2013-01-02 -0.136263  0.845848
2013-01-03  1.132218  1.352411
2013-01-04 -0.171387 -0.134072
2013-01-05 -0.144256  0.559585
2013-01-06 -1.014040  0.425820

In [13]:
df.to_csv('foo.csv')